<app-menubar-user></app-menubar-user>

<div class="header">Add Stock</div>

<form [formGroup]="addForm" class="container" (ngSubmit)="onSubmit()" class="container">

    <div class="input-container">
        <label class="labels" for="css">Stock:</label>
        <input class="inputs" type="text" formControlName="stock">
    </div>

    <div class="input-container">
        <label class="labels" for="css">Shares:</label>
        <input class="inputs" type="text" formControlName="shares">
    </div>

    <div class="input-container">
        <label class="labels" for="css">Purchase Price:</label>
        <input class="inputs" type="text" formControlName="price">
    </div>

    <button class="button" type="submit">Submit</button>
</form>

<app-trademark></app-trademark>

