<app-menubar></app-menubar>

<div class="header">Add Stock</div>

<div class="container">
    
    <div class="account-name-container">
        <label class="labels" for="css">Account Name:</label>
        <input class="inputs" type="text" name="accountNameInput">
    </div>

    <div class="stock-symbol-container">
        <label class="labels" for="css">Stock Symbol:</label>
        <input class="inputs" type="text" name="stockSymbolInput">
    </div>

    <div class="shares-container">
        <label class="labels" for="css">Shares:</label>
        <input class="inputs" type="number" name="sharesInput">
    </div>

    <div class="purchase-price-container">
        <label class="labels" for="css">Purchase Price:</label>
        <input class="inputs" type="number" name="purchasePriceInput">
    </div>

    <div class="purchase-date-container">
        <label class="labels" for="css">Purchase Date:</label>
        <input class="inputs" type="date" name="purchaseDateInput">
    </div>

    <button class="button" type="submit">Submit</button>
</div>

<app-trademark></app-trademark>

