<div class="menu-container">

    <div class="login-register">
    <a routerLink="/login" routerLinkActive = "active-link" [routerLinkActiveOptions] = "{exact: true}">Login</a>  
    &nbsp; | &nbsp; <a routerLink="/register" routerLinkActive = "active-link" [routerLinkActiveOptions] = "{exact: true}">Register</a>
    </div>

    <div>
        <img type="image" id="menu-icon" src="../../assets/images/Hwuevos-Logo.png" alt="Hwuevos-Logo">
    </div>

    <div id="logo-name">
        Hwuevos 
    </div>

    <div>
        <nav>
            <a routerLink="/" routerLinkActive = "active-link" [routerLinkActiveOptions] = "{exact: true}">Home</a> &nbsp; | &nbsp;
            <a routerLink="/request-service" routerLinkActive = "active-link" [routerLinkActiveOptions] = "{exact: true}">Request Service</a> &nbsp; | &nbsp;
            <a routerLink="/mission" routerLinkActive = "active-link" [routerLinkActiveOptions] = "{exact: true}">Our Mission</a> &nbsp; | &nbsp;
            <a routerLink="/donate" routerLinkActive = "active-link" [routerLinkActiveOptions] = "{exact: true}">Donate</a>
        </nav>
    </div>
</div>
