<div class="menu-container">

    <div class="login-register">
    <a routerLink="/login">Login</a>  &nbsp; | &nbsp; <a routerLink="/register">Register</a>
    </div>

    <div id>
        <img type="image" id="menu-icon" src="../../assets/images/Hwuevos-Logo.png" alt="Hwuevos-Logo">
    </div>

    <div>
        Hwuevos
    </div>

    <div>
        <nav>
            <a routerLink="/home">Home</a> &nbsp; | &nbsp;
            <a routerLink="/request-service">Request Service</a> &nbsp; | &nbsp;
            <a routerLink="/mission">Our Mission</a> &nbsp; | &nbsp;
            <a routerLink="/donate">Donate</a>
        </nav>
    </div>
</div>
