
<app-menubar></app-menubar>

<div class="header">Add Account</div>

<form [formGroup]="addForm" class="container" (ngSubmit)="onSubmit()" >

    <div class="input-container">
        <label class="labels" for="css">Account Name:</label>
        <input class="inputs" type="text" formControlName="name">
    </div>

    <div class="input-container">
        <label class="labels" for="css">Add Amount:</label>
        <input class="inputs" type="number" formControlName="amount">
    </div>

    <button class="button">Submit</button>

</form>

<app-trademark></app-trademark>