
<app-menubar></app-menubar>

<div class="header">Add Account</div>

<div class="container">
    <div class="account-name-container">
        <label class="labels" for="css">Account Name:</label>
        <input class="inputs" type="text" name="accountNameInput">
    </div>
    <div class="add-amount-container">
        <label class="labels" for="css">Add Amount:</label>
        <input class="inputs" type="number" name="addAmountInput">
    </div>
    <button class="button" type="submit">Submit</button>
</div>

<app-trademark></app-trademark>