<app-menubar></app-menubar>

<div class="header">Login</div>

<div class="container">
    <div class="email-container">
        <label class="labels" for="css">Email:</label>
        <input class="inputs" type="email" name="emailInput">
    </div>
    <div class="password-container">
        <label class="labels" for="css">Password:</label>
        <input class="inputs" type="password" name="passwordInput">
    </div>
    <button class="button" type="submit">Submit</button>
</div>

<app-trademark></app-trademark>

