<app-menubar-user></app-menubar-user>

<div class="container">

    <div class="account-container">

        <div class="header">
            <h1>Stock Summary Information</h1>
        </div>
        
        <div class="info-container">
            <div class="info-left">
                <p>Account Name:</p>
            </div>
            <div class="info-right">
                <p>{{summary.acctName}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>Stock:</p>
            </div>
            <div class="info-right">
                <p>{{summary.stock}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>Shares:</p>
            </div>
            <div class="info-right">
                <p>{{summary.shares}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>Avg Price:</p>
            </div>
            <div class="info-right">
                <p>{{summary.avgPrice}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>Current Price:</p>
            </div>
            <div class="info-right">
                <p>{{summary.curPrice}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>% Gain / Loss:</p>
            </div>
            <div class="info-right">
                <p>{{summary.perGain}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>$ Gain / Loss:</p>
            </div>
            <div class="info-right">
                <p>{{summary.dollGain}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>Total Gain:</p>
            </div>
            <div class="info-right">
                <p>{{summary.gainTot}}</p>
            </div>
        </div>

    </div>

</div>

<app-trademark></app-trademark>

