<app-menubar-user></app-menubar-user>

<div class="container">

    <div class="account-container">

        <div class="header">
            <h1>Stock Summary Information</h1>
        </div>
        
        <div class="info-container">
            <div class="info-left">
                <p>Account Name:</p>
            </div>
            <div class="info-right">
                <p>{{acctName}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>Stock:</p>
            </div>
            <div class="info-right">
                <p>{{stock}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>Shares:</p>
            </div>
            <div class="info-right">
                <p>{{shares}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>Avg Price:</p>
            </div>
            <div class="info-right">
                <p>{{avgPrice}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>Current Price:</p>
            </div>
            <div class="info-right">
                <p>{{curPrice}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>Cost:</p>
            </div>
            <div class="info-right">
                <p>{{cost}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>% Gain / Loss:</p>
            </div>
            <div class="info-right">
                <p>{{perGain}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>$ Gain / Loss:</p>
            </div>
            <div class="info-right">
                <p>{{dollGain}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>Total Gain:</p>
            </div>
            <div class="info-right">
                <p>{{gainTot}}</p>
            </div>
        </div>

    </div>

</div>

<app-trademark></app-trademark>

