<app-menubar-user></app-menubar-user>

<div class="container">

    <div class="account-container">

        <div class="header">
            <h1>Account Summary Information</h1>
        </div>
        
        <div class="info-container">
            <div class="info-left">
                <p>Manager Name:</p>
            </div>
            <div class="info-right">
                <p>{{manager}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>% Profit / Loss:</p>
            </div>
            <div class="info-right">
                <p>{{perGain}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>$ Profit / Loss:</p>
            </div>
            <div class="info-right">
                <p>{{dollGain}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>Reserve Capital:</p>
            </div>
            <div class="info-right">
                <p>{{reserveCap}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>Added Capital:</p>
            </div>
            <div class="info-right">
                <p>{{addedCap}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>Total Capital:</p>
            </div>
            <div class="info-right">
                <p>{{totCap}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>Creation Date:</p>
            </div>
            <div class="info-right">
                <p>{{createDate}}</p>
            </div>
        </div>

        <div class="info-container">
            <div class="info-left">
                <p>Email:</p>
            </div>
            <div class="info-right">
                <p>{{email}}</p>
            </div>
        </div>

    </div>

</div>

<app-trademark></app-trademark>
