<app-menubar-user></app-menubar-user>

<div class="search-bar-container">
    <input class="search-bar" type="text" placeholder="Search">
</div>
<app-trademark></app-trademark>

<div class="container">
    <!-- Table that displays account-container headings-->
    <table>
        <tr>
            <th>Account Name</th>
            <th>Added Funds</th>
            <th>% Gain / Loss</th>
            <th>$ Gain / Loss</th>
            <th>Total</th>
        </tr>
    </table>
    <div class="account-container">
        <!-- Table that displays account-container data-->
        <table>
            <tr>
                <td>Retirement</td>
                <td>23545.56</td>
                <td>- 47%</td>
                <td>1123.28</td>
                <td>1123.28</td>
            </tr>
        </table>
    </div>
    <button class="button" type="submit">Add Account</button>
</div>