.trade-mark {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex: auto;
    width: 100%;
    font-size: 18px;
    bottom: 3px;
}
.trade-mark>*:nth-child(1) {
    order: 1;
    flex-grow: 1;
    align-self: center;

}