<app-menubar></app-menubar>

<div class="header">Register</div>

<form [formGroup]="regForm" class="container" (ngSubmit)="onSubmit()">

    <div class="input-container">
        <label class="labels" for="css">First Name:</label>
        <input class="inputs" type="email" id="firstName" formControlName="firstName">
    </div>

    <div class="input-container">
        <label class="labels" for="css">Last Name:</label>
        <input class="inputs" type="email" id="lastName" formControlName="lastName">
    </div>

    <div class="input-container">
        <label class="labels" for="css">Email:</label>
        <input class="inputs" type="email" id="email" formControlName="email">
    </div>

    <div class="input-container">
        <label class="labels" for="css">Verify Email:</label>
        <input class="inputs" type="email" id="email" formControlName="emailVerify">
    </div>

    <div class="input-container">
        <label class="labels" for="css">Password:</label>
        <input class="inputs" type="password" id="password" formControlName="password">
    </div>

    <div class="input-container">
        <label class="labels" for="css">Verify Password:</label>
        <input class="inputs" type="password" formControlName="passwordVerify">
    </div>

    <div class="input-container">
        <label class="labels" for="css">Add Amount:</label>
        <input class="inputs" type="number" formControlName="addAmount">
    </div>

    <button class="button" type="submit">Submit</button>
</form>

<app-trademark></app-trademark>
