<app-menubar></app-menubar>

<div class="header">Register</div>

<div class="container">

    <div class="first-name-container">
        <label class="labels" for="css">First Name:</label>
        <input class="inputs" type="email" name="firstNameInput">
    </div>

    <div class="last-name-container">
        <label class="labels" for="css">Last Name:</label>
        <input class="inputs" type="email" name="lastNameInput">
    </div>

    <div class="email-container">
        <label class="labels" for="css">Email:</label>
        <input class="inputs" type="email" name="emailInput">
    </div>

    <div class="verify-email-container">
        <label class="labels" for="css">Verify Email:</label>
        <input class="inputs" type="email" name="verifyEmailInput">
    </div>

    <div class="password-container">
        <label class="labels" for="css">Password:</label>
        <input class="inputs" type="password" name="passwordInput">
    </div>

    <div class="verify-password-container">
        <label class="labels" for="css">Verify Password:</label>
        <input class="inputs" type="password" name="verifyPasswordInput">
    </div>

    <button class="button" type="submit">Submit</button>
</div>

<app-trademark></app-trademark>
