<div class="menu-container">

    <!--1st child: flex-->
    <div>
    <a routerLink="" (click)="onClick()">Logout</a>
    </div>

    <!--2nd child: flex-->
    <div>
        <img class="image" type="image" id="menu-icon" src="../../assets/images/Hwuevos-Logo.png" alt="Hwuevos-Logo">
    </div>

    <!--3rd child: flex-->
    <div class="app-title">Hwuevos</div>

    <!--4th child: flex-->
    <div>
        <nav class="website-nav">
            <a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact : true}">Home</a> &nbsp; | &nbsp;
            <a [routerLink]="['/accounts-page/' + user]" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact : true}">Account's</a> &nbsp; | &nbsp;
            <a routerLink="/account-summary" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact : true}">Summary</a> &nbsp; | &nbsp;
            <a routerLink="/settings" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact : true}">Settings</a>
        </nav>
    </div>
</div>

